* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */

html {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*** Title ***/

.title {
  background: url(../images/bird_bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

/* Header */

.header {
  padding-top: 1.875rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Intro */
/* body {
  display: flex;
  flex-direction: column;
  width: 100%;
} */

@media (min-width: 1200px) {
  /*  

  .intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 840px;
    margin: 0 auto;

    position: relative;
  }

  .intro__subtitle {
    font-size: 4.5rem;
    font-family: "Kaushan Script", sans-serif;
    font-weight: 200;
    color: inherit;

    margin-block-start: 120px;
    margin-block-end: 35px;
  }

  .intro__title {
    font-size: 9.375rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    color: inherit;
  }

  .intro__title:after {
    content: "";
    width: 60px;
    height: 3px;
    background-color: #fff;
    display: block;
    margin: 45px auto;
  } */

  /* Button */
  /* .btn {
    display: inline-block;

    margin-block-end: 60px;
    padding: 7px 25px;

    border: 3px solid #fff;

    font-size: 0.875rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
  }

  .btn:hover {
    background-color: #fff;
    color: #333;
  } */

  /* Slider */
  /* .slider {
    position: relative;
    margin-block-start: 75px;
  }

  .slider__inner {
    display: flex;
    justify-content: space-between;
  }

  .slider__item .item__num {
    font-size: 24px;
    font-weight: 700;
  }

  .slider__item.active {
    opacity: 1;
  }

  .slider__item.active:before {
    content: "";
    top: -3px;
    left: 0;
    z-index: 1;

    position: absolute;

    width: 60px;
    height: 3px;
    background-color: brown;
  }

  .slider__item {
    width: 23%;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0;
    border-top: 3px solid #fff;

    position: relative;

    opacity: 0.7;
  }
*/

  /* Header */
  /* 

  

  .header__logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
  } */

  /* Nav */

  /* .nav {
    font-size: 0.875rem;
    text-transform: uppercase;
  }

  .nav__link {
    display: inline-block;
    margin: 0 22px;
    font-size: 0.875rem;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
  }

  .nav__link:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;

    opacity: 0;
    transition: opacity 0.1s linear;

    background-color: #fce38a;
    top: 140%;
    left: 0;
    z-index: 1;
  }

  .nav__link:hover {
    color: #fce38a;
  }

  .nav__link:hover:after {
    opacity: 1;
  } */

  /* ----------------- */
  /* -----Section----- */
  /* ----------------- */
  .section {
    background-color: #fff;
  }

  .section--gray {
    background-color: #f8f8f8;
  }

  .section__header {
    text-align: center;
    width: 100%;
    max-width: 960px;
    margin: 0 auto 105px;
  }

  .section__inner {
    padding: 110px 0 110px;
    color: black;
  }

  .section__suptitle {
    font-family: "Kaushan Script", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #666;
    margin-block-end: 10px;
  }

  .section__title {
    text-transform: uppercase;
    color: #333;
    font-size: 1.875rem;
    font-weight: 700;
  }

  .section__title:after {
    content: "";
    background-color: #f38181;
    display: block;
    width: 60px;
    height: 3px;
    margin: 45px auto 0;
  }

  .section__text {
    margin-block-start: 45px;
    color: #999;
    text-align: center;
  }

  .section__images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about__item {
    width: 380px;
    height: 100%;
    background-color: #95e1d3;
    position: relative;
  }

  .about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
  }

  .about__item:hover .about__img > img {
    opacity: 0.1;
  }

  .about__item:hover .about__img > .about__text {
    opacity: 1;
  }

  .about__img img {
    display: block;
    transition: opacity 0.2s linear;
  }

  .about__img .about__text {
    transition: opacity 0.2s linear;
  }

  .about__img {
    width: 100%;
    background: linear-gradient(#fce38a, #f38181);
    transition: transform 0.2s linear;
  }

  .about__text {
    width: 100%;
    color: #fff;
    opacity: 0;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;

    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }

  .about__icon {
  }

  /* Facts Section */
  .facts {
    background-color: #95e1d3;
  }

  .facts__inner {
    display: flex;
    height: 270px;
    color: #fff;
    background-color: #fff;
  }

  .facts__inner__item {
    flex: 1 1 0;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #95e1d3;
    border-left: 1px solid #b5eae0;
  }

  .facts__inner:last-child {
    border-right: 1px solid #b5eae0;
  }

  .facts__inner__item__header {
    font-size: 72px;
  }

  .facts__inner__item__desc {
    font-size: 14px;
  }

  .section__services {
    width: 100%;
    margin-block-start: 60px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .section__header--services {
    margin-block-end: 60px;
  }

  .section__services__item {
    margin: 10px;
    width: 30%;
    display: flex;
    flex-direction: row;
    text-align: left;
  }

  .section__services__img {
    margin: 5px 30px 0 0;
    max-width: 30%;
    max-height: 30%;
  }

  h4 {
    font-size: 14px;
    font-weight: 700;
    color: #666;
    text-transform: uppercase;
  }

  .section__services__item__content > p {
    margin-block-start: 10px;
    font-family: "Roboto", sans-serif;
    color: #b3b3b3;
    line-height: 170%;
  }

  /* Unique Design Section */
  .unique_design_background {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);
  }

  .devices__items {
    position: relative;
    justify-content: center;
    width: 100%;
    max-width: 550px;
    margin: 45px auto 0;
  }

  .section__inner.section__devices {
    padding-bottom: 0;
  }

  .section--devices {
    width: 100%;
    background: url(../images/unique_design_background.png) center no-repeat;
    background-size: cover;
    bottom: 0;
  }

  .ipad {
    overflow: hidden;
  }

  #iphone {
    position: absolute;
    top: 37%;
    left: 60%;
    width: 47%;
  }

  #ipad {
    position: relative;
    justify-content: center;
    top: 10px;
    width: 470px;
    height: 575px;
  }
  /* What we do Section */
  .our_services {
    width: 100%;
    display: flex;
    text-align: left;
  }

  .our_services__item {
    width: 50%;
  }

  .accordion__item {
    border: 1px solid #e5e5e5;
    position: relative;
    margin-block-end: 10px;

    cursor: pointer;
  }

  .item__header {
    border-bottom: 1px solid transparent;
    padding: 20px 20px 20px 60px;
  }

  .item__header::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    top: 15px;
    right: 4%;
    rotate: 135deg;
  }

  .item__header__title {
    color: #333;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .item__header__icon {
    position: absolute;
    top: 14px;
    left: 14px;
    z-index: 1;
  }

  .item__content {
    display: none;

    padding: 20px;
    font-weight: 300;
    font-style: italic;
    color: #b3b3b3;
  }

  /* While item is active */
  .accordion__item.active .item__content {
    display: block;
  }

  .accordion__item.active .item__header::after {
    rotate: -45deg;
    top: 25px;
  }

  .accordion__item.active .item__header {
    border-bottom-color: #e5e5e5;
  }

  /* Quote Section */
  .quote {
    background-color: #f8f8f8;
  }

  .quote__inner {
    display: flex;
  }

  .quote__item {
    display: flex;
  }

  .quote__item__avatar {
    position: relative;
    width: 150px;
    height: 150px;
    border: 3px solid #95e1d3;

    background: url(../images/icons/SPEECH\ 4.png) center no-repeat;
  }

  /* Reviews */
  .reviews__item {
    position: relative;
    padding: 70px 110px 70px 320px;
  }

  .review__btn {
    font-size: 0;
    color: transparent;

    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
  }

  .review__btn--prev {
    top: 50%;
    left: 0;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(-45deg);
  }

  .review__btn--next {
    top: 50%;
    left: 98%;
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    transform: rotate(135deg);
  }

  .review__photo {
    position: absolute;
    top: 70px;
    left: 110px;
    z-index: 1;
    border: 2px solid #95e1d3;
  }

  .review__text {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: #b7b7b7;
  }

  .review__author {
    position: inherit;
    margin-block-start: 5px;
    font-family: "Kaushan Script", sans-serif;
    font-size: 24px;
  }

  .review__author::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-inline-end: 10px;
    background-color: #f38181;
  }

  /* Meet Our Team Section */
  .--section--meet--our--team {
    margin-bottom: 95px;
  }

  .--item--header--about {
    text-align: center;
  }
}
